PORT=5000

MONGO_URI=mongodb+srv://guruachari809_db_user:dgs_020420@dailystreakcluster.aqtwpe1.mongodb.net/?appName=DailyStreakCluster

JWT_SECRET=7178334fcf399811c931ceae054ced8d6a2d0c73b0b374a5a59389f47748ebf799635a75c6a3726c5462f654657fb392ff044aba9f787da6fadaade8a74bdeb9
JWT_EXPIRES_IN=7d

CLIENT_ORIGIN=https://daily-streak-black.vercel.app/login/api

STREAK_WINDOW_HOURS=24
STREAK_GRACE_HOURS=24
